doctype html
html(lang="fr")
head
	meta(charset="UTF-8")
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title= title
	script(src="/js/scriptAcceuil.js")
	script(src="socket.io/socket.io.min.js")
	link(rel="stylesheet", href="/css/styleAcceuil.css")
