div(id="reglement")
  div(id="instructions")
    p Règles du jeu
    p La personne qui doit trouver le pokemon gagne 25 points &agrave; chaque lettre trouv&eacute;
    p Chaque mauvaise réponse fait perdre 10 points
    p Vous avez un indice &agrave; disposition mais attention , le co&ucirc;t d&apos;un indice est de 100 points (attention de ne pas finir la partie en n&eacute;gatif !)
    p Il faut être 2 joueurs pour commencer une partie
    p Le nombre maximun de joueur est de 2 joueurs par partie
    p Le joueur qui a un cercle vert autour de son score est celui qui à la main
    p Les noms des pokemon à trouver sont en version anglaise
    button
      a Commencer la partie
        