include includes/headJeu.pug
body
  H1 POKEPENDU
  include includes/time.pug
  h3 Tours 
    span#tours 1
    span / 6
  h3#liste Liste joueurs :
  div
  div#jeu
    include includes/pokependu.pug
    include includes/indices.pug