include includes/headPreparation.pug
body
  H1 POKEPENDU
  p Envoyer le lien suivant à un ami pour commencer une partie : 
   span#lien
  div
  h3 Liste joueurs :
  div
  include includes/reglement.pug

